{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3" style="padding:10px; margin:10px;">
            <div class="card" style="width: 18rem; height:30rem; padding: 10px; margin:50px; grid-gap:10px;"  >
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" height="250">
                     <div class="card-body">
                         <h5 class="card-title">{{i.name}}</h5>
                         <p class="card-text">{{i.desc}}</p>
                         <a href="{% url 'movapp:detail' i.id%}" class="btn btn-primary">DETAILS</a>
                     </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<button type="button" style=" padding: 10px 20px;font-size: 16px;float:right;">Add Movie</button>



{% endblock %}